<header class="panel-header">
  <div>
    <span class="panel-header__label">NC program</span>
    <h2>Program editor</h2>
  </div>

  <button
    class="stock-setup-button"
    type="button"
    (click)="toggleStockSetup()"
  >
    Stock Setup
  </button>

  @if (isStockSetupOpen()) {
    <section class="stock-setup-panel">
      <app-stock-setup (closeStockSetup)="toggleStockSetup()" ></app-stock-setup>
    </section>
  }

</header>



  <form
    class="editor-form"
    [formGroup]="programEditorForm"
    (ngSubmit)="submitProgram()"
  >
<div class="program-file">
  <div class="select-group">
    <label for="machine">Machine</label>
    <select id="machine">
      <option value="">Select machine...</option>
      <option value="citizen-l12">Citizen L12</option>
      <option value="citizen-l32">Citizen L32</option>
    </select>
  </div>

  <div class="select-group">
    <label for="control">CNC Control</label>

    <select id="control">
      <option value="">Select control...</option>
      <option value="fanuc-0i-td">Fanuc 0i-TD</option>
      <option value="sinumerik">Siemens Sinumerik</option>
    </select>
  </div>
</div>

<label class="sr-only" for="cnc-program">
  CNC program
</label>

<section class="editor-panel">
    <textarea
      class="program-input"
      formControlName="cncProgram"
      rows="25"
      placeholder="Írd be a CNC-programot"
    ></textarea>

</section>



<footer class="editor-footer">
  <span>Encoding: UTF-8</span>
</footer>

<div class="program-actions">
  <button
    (click)="clearEditor()"
    class="button button--secondary" type="button">
    Clear
  </button>

  <button
    class="button button--primary" type="submit">
    Parse program
  </button>
</div>
  </form>
